
.module_container {
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
    margin: 0px auto;
    padding: 0;
    /* left: 70%; */
    right: 0%;
    vertical-align: middle;
    background:no-repeat #f5f5f5;
    background-position: center center;
    
}

.module_container_text {
    width: 100%;
    margin-left: 28rem;
    color: #0D4F8C;
    width: 17.1rem;
    height: 20.3rem;
    /* margin-top: 6.8rem; */
    margin-top: -30rem;
    margin-left: 40rem;
    position: relative;
}

.base1 h2{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.7rem;
    font-family: "Montserrat";
}

.base1 p{
    
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.31rem;
    font-family: "Montserrat";
    
}

.btn_module{
    border: none;
    background: #0D4F8C;
    border-radius: 2rem;
    color: white;
    position: absolute;
    bottom: 0;
    width: 17.1rem;
    height: 3.4rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

.frontheader{
    width: 960px;
    height: 540px;
    border: 1px solid #e0e0e0;
    margin: 0px auto;
    padding: 0;
    left: 0%;
    right: 0%;
    margin-top: 5%;
    vertical-align: middle;
     background-image: url(http://js-ind-app.herokuapp.com/images/app-bkg-02.png);
}

.base12{
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1rem;
    margin-bottom: 1.8rem;
    font-family: "Montserrat";
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    /* margin: 0 -.25rem; */
    padding: 0 .5rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.base12:hover{
    
        box-shadow: inset 200px 0 0 0px #54b3d6;
      color: white;
    
   
}
